WebApp/Service References/loginService/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoginService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoginService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginDetails">
    <xs:sequence>
      <xs:element name="Loginname" nillable="true" type="xs:string" />
      <xs:element name="Loginrole" nillable="true" type="xs:string" />
      <xs:element name="Loginusername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDetails" nillable="true" type="tns:LoginDetails" />
</xs:schema>