WebApp/Service References/shoppingCartService/CartService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CartService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/CartService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/CartService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar30.fulton.asu.edu/page4/CartService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShoppingServices_A3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICartService_addToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:addToCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_addToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_getProductsInCart_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductsInCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_getProductsInCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsInCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICartService_removeFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCart" />
  </wsdl:message>
  <wsdl:message name="ICartService_removeFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCartResponse" />
  </wsdl:message>
  <wsdl:portType name="ICartService">
    <wsdl:operation name="addToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/addToCart" message="tns:ICartService_addToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/addToCartResponse" message="tns:ICartService_addToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductsInCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/getProductsInCart" message="tns:ICartService_getProductsInCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/getProductsInCartResponse" message="tns:ICartService_getProductsInCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICartService/removeFromCart" message="tns:ICartService_removeFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICartService/removeFromCartResponse" message="tns:ICartService_removeFromCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICartService" type="tns:ICartService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addToCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/addToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsInCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/getProductsInCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <soap:operation soapAction="http://tempuri.org/ICartService/removeFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartService">
    <wsdl:port name="BasicHttpBinding_ICartService" binding="tns:BasicHttpBinding_ICartService">
      <soap:address location="http://webstrar30.fulton.asu.edu/page4/CartService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>